
.pInfo{
    font-size: 2rem;
    font-weight: 800;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    
}

.formulario{
    height: 25.625rem;
}

.divInputs{
    display: flex;
    flex-direction: column;
    margin-top: 1.125rem;
    height: auto;font-family: "inter", serif;
}

.divInputs input{
    font-weight: 500;
    font-size: 0.938rem;
    width: 33.563rem;
    height: 3.813rem;
    border: 0.088rem solid var(--cinza004);
    border-radius: 9px;
    padding-left: 1.438rem;
    background-color: var(--cinza001);
    color: var(--cinza003);
}

.divInputs input:focus{
    outline: transparent;
    box-shadow: 0 0 0 2px var(--roxo003);
    
}

.divInputs label{
    font-weight: 600;
    margin-bottom: 0.875rem;
    margin-top: 1.5rem;
}

.divInputs button{
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 4rem;
    width: 33.563rem;
    height: 3.375rem;
    border: 0.088rem solid var(--roxo003) ;
    border-radius: 7px;
    background-color: var(--roxo003);
    

}

.divInputs button:hover{
    background-color: var(--roxo000);
}
